.hero-icon {
    color: #576F72;
    width: 40px;
}

.hero-icon:hover {
    color: #7D9D9C;
}

li{
    list-style: none;
    font-size: 20px;
    padding: 5px;
}

li > a{
    color: inherit;
    text-decoration: none;
}

li > a:hover{
    color: #7D9D9C;
}
